.layout{
  width:100vw;
  height: 100vh;
  
}
.topInfo{
  width:100%;
  height:60px;
  background-color: chocolate;
}
.bottomInfo{
  width:100%;
  height:calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftMenu{
  width:200px;
  background-color: #ff0000;
  height:100%;
} 

.rightContent{
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.topNav{
  width:100%;
  height:48px;
  background-color: coral;
}

.pageContent{
  width:100%;
  min-height:calc(100% - 48px);
  flex:1;
  background-color: #ccc;
}

